<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div id="adminTable">
    <p><a id="logout" href="/admin">Log out</a></p>
    <table style="width: 100%">
      <tr>
        <th style="text-align:left;">Name</th>
        <th style="text-align:left;">Title</th>
        <th style="text-align:left;">Organization</th>
        <th style="text-align:left;">Approve</th>
      </tr>
      <% for (var i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].name %></td>
          <td><%= data[i].title %></td>
          <td><%= data[i].org %></td>
          <td>
            <form action="/admin" method="post">
              <input type="submit" name="mod" value="Approve <%= data[i].name %>">
              <input type="submit" name="mod" value="Decline <%= data[i].name %>">
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(function () {
        var socket = io();
        $(document).ready(function(e) {
          socket.emit('status', 'in admin');
        });
        $('#logout').click(function(e) {
          socket.emit('logout', '');
        });
      });
    </script>
  </body>
</html>
